$primary-bg: #2c2c2c;
$header-bg: #1a1a1a;
$card-bg: #444;
$text-color: white;
$active-color: red;
$divider-color: #555;
$card-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
$hcolor:rgb(255, 7, 7);
$border: 20px;
$bpadd:15px 20px 15px 20px;

@font-face {
    font-family: 'Age';
    src: url('/font/Inkulinati-Regular.otf')
}

@font-face {
    font-family: 'Gotic';
    src: url('/font/Gotic.otf');
}

// Базовые стили
body {
    background-color: $header-bg;
    color: $text-color;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}